/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  background-color: #ff4141;
  margin-bottom: 0;
  border-radius: 0;
  width: auto;
}
.nav .navbar-nav .navbar-right {
  padding-right: 5px;
}
.navbar-header button {
  background-color: #f9f9f9;
}
.navbar-header span {
  background-color: #ff4141;
}
.navbar-collapse ul li a{
  color: #333333;
}
.about h3{
  font-size: 7vh;
  font-family: 'Roboto Slab', serif;
}
.about .col-sm-12 p {
  font-size: 4vh;
  color: #0b0c10;
  margin-top: 2vh;
  margin-bottom: 6vh;
  font-family: 'Roboto Slab', serif;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: 180vh;
}
.row-content.col-sm6.text-center {
  padding-top: 25px;
}
#main {
  height: 100vh;
  padding-top: 10vh;
  background-color: #f9f9f9;
}
#main h1 {
  font-size: 45px;
}
.container{
  position: relative;
  text-align: center;
}
.container img {
  width: 48vh;
  height: 27vh;
}
.typeLogo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#history {
  height: 100vh;
  padding-top: 10vh;
  width: 100%;
  background-color: #f9f9f9;
}
.about h3 {
  color: #0b0c10;
}
.linkedin {
  height: 10vh;
  width: 10vh;
  margin-right: 10px;
}
.github {
  height: 10vh;
  width: 10vh;
  margin-left: 10px;
}

.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}
html, body {
  height: 100%;
  margin: 0;
}
body {
  background-color: #ff4141;
  margin: auto;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }

  .about .col-sm-12 p {
    font-size: 2vh;
    color: #0b0c10;
    margin-top: 2vh;
    margin-bottom: 4vh;
  }
  .linkedin{
    height: 5vh;
    width: 5vh;
  }
  .github{
    height: 5vh;
    width: 5vh;
  }
  .row.content {height:auto;}
}
@media screen and (max-width: 668px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .about .col-sm-12 p {
    font-size: 2vh;
    color: #0b0c10;
    margin-top: 2vh;
    margin-bottom: 4vh;
  }
  .row.content {height:auto;}

}
