<!-- Optional additional links to insert for icons links -->
<a id="github-link"
    class="icon" title="Github" aria-label="Github"
    href="https://github.com/berkeka">
    {% include svg/github.svg %}
</a>

<a id="github-link"
    class="icon" title="LinkedIn" aria-label="LinkedIn"
    href="https://linkedin.com/in/berkekalkan">
    {% include svg/linkedin.svg %}
</a>

<a id="github-link"
    class="icon" title="Twitter" aria-label="Twitter"
    href="https://twitter.com/sandwichstalker">
    {% include svg/twitter.svg %}
</a>